#actions header h2 {
    margin: 0 0 0 0.5rem;
    text-transform: uppercase;
}

#actions-body {
    display: flex;
}

#actions-body > div {
    flex: 1;
    padding: 0 0.5rem;
}

#actions-body > div > button {
    margin: 0.5rem 0;
    width: 100%;
}
