#search-menu {
    display: flex;
    flex-direction: row;
}

#search-menu > * {
    flex: 1;
    height: 2.7rem;
}

#search-box {
    width: 100%;
    margin-top: 10px;
    font-size: large;
    height: 25px;
    border-color: var(--color-theme-3);
}

#collections-search {
    display: flex;
    flex: 1;
    margin: 0.25em;
}

#sort-by {
    margin: 0.25em;
}

#dropdown {
    padding: 5px;
}

#collections-search div {
    flex: 1;
}

#collections-search div:first-child {
    flex: 0;
}

#collections-search div:first-child {
    flex: 0;
}

#collections-table {
  overflow-y: scroll;
  height: 380px;
  min-height: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#collections-table > button {
  width: 9em;
  height: 9em;
  padding: 0.25em;
  margin: 0.25em;
}

#collections-table > button .collection-title {
    position: absolute;
    font-size: 1.25em;
    top: 30%;
    width: 80%;
    left: 10%;
    text-align: center;
}

#collections-table > button .collection-subtitle {
    position: absolute;
    bottom: 25%;
}
