.collection-display {
    padding: 0.5rem;
}

.collection-display button, .collection-display .collection-item {
    width: 50px;
    height: 60px;
    padding: 0.25em;
    margin: 0.25em;
}

#collection-header {
    text-align: center;
    width: 100%;
}

#collection-header > button {
    width: 200px;
    padding: 0.25em;
    margin: 0.5em;
    font-size: 1.1em;
}

.collection-title, .collection-subtitle {
    position: absolute;
    right: auto !important;
    left: 0;
    width: 100%;
    text-align: center;
}

.collection-title {
    top: 0.15em;
    font-weight: bold;
}

.collection-subtitle {
    bottom: 0.15em;
}

.collection-learned-count {
    position: absolute;
    top: 0.15em;
    right: 0.2em;
    width: 2em;
    text-align: center;
}

.collection-count {
    position: absolute;
    bottom: 0.15em;
    right: 0.2em;
    width: 2em;
    text-align: center;
    position: absolute;
}

.collection-count-frac {
    display: block;
    position: absolute;
    bottom: 50%;
    right: 0.2em;
    content: " ";
    width: 2em;
    border-top: 1px solid var(--color-theme-1);
}

#collection-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#collection-body .collection-item {
    padding: 0.5rem 1.5rem;

    border: 1px solid var(--color-theme-1);
    background: var(--color-theme-5);
    color: var(--color-theme-text);
    cursor: pointer;

    font-size: 0.9rem;
    text-align: center;

    flex: 1 0 auto;
    min-width: 9em;
    max-width: 9em;
    position: relative;

    box-sizing: border-box;
}

#collection-body .collection-item.collection-item-locked {
    cursor: not-allowed;
    background: var(--color-theme-3);
}

#collection-body .collection-item > span {
    position: absolute;
}

#collection-body .collection-item .collection-item-title, #collection-body .collection-item .collection-item-subtitle {
    display: block;
    left: 0;
    right: auto !important;
    width: 100%;
    text-align: center;
}

#collection-body .collection-item.collection-item-expanded {
    width: 100%;
    max-width: 100%;
    min-height: 130px;
}

#collection-body .collection-item .collection-item-title {
    top: 0.25em;
    font-size: 1.5em;
    font-weight: bold;
}

#collection-body .collection-item .collection-item-subtitle {
    bottom: 0.5em;
}

#collection-body .collection-item .star {
    position: absolute;
    font-size: 1.5em;
    left: -0.35em;
    top: -0.5em;
}

#collection-body .collection-item-expanded .star {
    font-size: 2.5em;
}

#collection-body .collection-item .collection-item-progress {
    position: absolute;
    display: block;
    height: 0.5em;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-theme-4);
    transition: all 0.2s ease-in-out;
}

#collection-body .collection-item .collection-item-progress-inner {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background: var(--color-theme-1);
    transition: all 0.2s ease-in-out;
    color: transparent;
    text-align: center;
}

#collection-body .collection-item .collection-item-detail {
    display: none;
}

#collection-body .collection-item.collection-item-expanded .collection-item-title {
    width: 20%;
    font-size: 2em;
}

#collection-body .collection-item.collection-item-expanded .collection-item-subtitle {
    width: 20%;
    font-size: 2em;
    bottom: 1em;
}

#collection-body .collection-item.collection-item-expanded .collection-item-progress {
    height: 1.25em;
}

#collection-body .collection-item.collection-item-expanded .collection-item-progress-inner {
    color: var(--color-theme-4);
}

#collection-body .collection-item.collection-item-expanded .collection-item-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 1.25em);
}

#collection-body .collection-item .action-button-annotations {
    top: 0;
    right: 0;
    transform: translateX(30%) translateY(-30%);
    margin-top: 0;
}

#search-box {
    border: 0;
    border-bottom: 1px solid var(--color-theme-2);
}

#dropdown .Dropdown-control {
    border: 0;
    border-bottom: 1px solid var(--color-theme-2);
}

#collection-body .collection-item p {
    margin: 0;
}

.collection-item .audio-button {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    display: none;
}

.collection-item-expanded .audio-button {
    display: block;
}
