.collection-display {
    padding: 0.5rem;
}

.collection-display button {
    width: 50px;
    height: 60px;
    padding: 0.25em;
    margin: 0.25em;
}

#collection-header {
    align: center;
    text-align: center;
    width: 100%;
}

#collection-header > button {
    width: 200px;
    padding: 0.25em;
    margin: 0.5em;
    font-size: 1.1em;
}

.collection-title, .collection-subtitle {
    right: auto !important;
    left: 0;
    width: 100%;
    text-align: center;
}

.collection-title {
    top: 0.15em;
    font-weight: bold;
}

.collection-subtitle {
    bottom: 0.15em;
}

.collection-learned-count {
    top: 0.15em;
    width: 2em;
    text-align: center;
}

.collection-count {
    bottom: 0.15em;
    width: 2em;
    text-align: center;
}

.collection-count-frac {
    display: block;
    position: absolute;
    bottom: 50%;
    content: " ";
    width: 2em;
    border-top: 1px solid #646464;
}

#collection-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#collection-body button {
    flex: 0 0 6em;
}

#collection-body button span {
}

#collection-body button .collection-item-title, #collection-body button .collection-item-subtitle {
    display: block;
    left: 0;
    right: auto !important;
    width: 100%;
    text-align: center;
}

#collection-body button .collection-item-title {
    top: 0.25em;
    font-size: 1.5em;
    font-weight: bold;
}

#collection-body button .collection-item-subtitle {
    bottom: 0.25em;
}

#collection-body button .action-button-lock {
    top: 0;
    right: 0;
    transform: translateX(30%) translateY(-30%);
    margin-top: 0;
}

#search-box {
    border: 0;
    border-bottom: 1px solid #9a9a9a;
}

#dropdown .Dropdown-control {
    border: 0;
    border-bottom: 1px solid #9a9a9a;
}
