#event-log {
    overflow-y: scroll;
    /* Needed to allow this to shrink (i.e. for the event log not to push
     * action bar down). This is default in Chrome, contrary to
     * standards, but not other browsers. */
    min-height: 0;
}

#event-log ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

#event-log li {
    margin: 0.25em 0;
    padding: 0.25em;
    opacity: 0.7;

    transition: all 0.5s ease-in;
}

#event-log li:nth-child(1) {
    opacity: 1;
    background: var(--color-theme-4);
}

#event-log li:nth-child(2) {
    opacity: 0.8;
}

#event-log li.fade-enter {
    transform-origin: top;
    max-height: 0px !important;
    transform: scaleY(0) !important;
}

#event-log li.fade-enter.fade-enter-active {
    max-height: 100em !important;
    transform: scaleY(1) !important;
}

#event-log .log-hidden {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#event-log .log-hidden p {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: var(--color-theme-3);
}
