#event-overlay {
    position: absolute;
    left: calc(25px - 1rem);
    bottom: 20px;
    width: 340px;
    padding: 1rem;
    z-index: 10;

    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
