#event-overlay {
    position: absolute;
    left: calc(25px - 1rem);
    bottom: 20px;
    width: 340px;
    padding: 1rem;
    z-index: 10;

    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

#event-overlay.hidden {
    transform: translateY(100vh);
}

.effect-slide-up-enter {
    transform: translateY(0);
}

.effect-slide-up-enter-active {
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
}

.effect-slide-up-exit {
    transform: translateY(0);
}

.effect-slide-up-exit-active {
    transition: all 0.3s ease-in-out;
    transform: translateY(100vh);
}
