#event-overlay {
    position: absolute;
    left: calc((40px - 2rem) / 2);
    bottom: 20px;
    width: 340px;
    padding: 1rem;
    z-index: 10;

    background: var(--color-theme-5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

#event-overlay.hidden {
    transform: translateY(100vh);
}

.effect-slide-up-enter {
    transform: translateY(0);
}

.effect-slide-up-enter-active {
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
}

.effect-slide-up-exit {
    transform: translateY(0);
}

.effect-slide-up-exit-active {
    transition: all 0.3s ease-in-out;
    transform: translateY(100vh);
}

@keyframes highlight-event {
    0% {
        transform: translateY(0px);
        background: #FFF;
    }

    50% {
        transform: translateY(-50px);
        background: var(--color-theme-3);
    }

    100% {
        transform: translateY(0px);
        background: #FFF;
    }
}
