h2 {
    color: var(--color-theme-2);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}

.event-buttons {
    display: flex;
}

.event-buttons > button {
    flex: 1;
}

.Learned {
    max-height: 20em;
    overflow-y: auto;
}

.Learned > div {
    margin: 1em 0;
}

.Learned > div:first-child {
    margin-top: 0;
}

.Learned .front, .Learned .back {
    font-size: 1.25em;
}

.Learned button:not(.audio-button) {
    width: 100%;
}
