.labeled-panel {
    border: 1px solid #9A9A9A;

    margin: 0.5rem;
    padding: 0.5rem;
}

.labeled-panel header {
    position: absolute; /* Take this element out of the flex calculation */
    margin-top: -1rem;
}

.labeled-panel header h2 {
    display: block;
    margin: 0;

    background: #FFF;
    color: #9A9A9A;

    font-size: 1rem;
    font-weight: medium;

    text-transform: uppercase;
}
