.question ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.question p {
    margin-top: 0;
}

.review-item {
    margin: 0;
    padding: 0;
    flex: 1;
    min-width: 50%;
}

input[type=text] {
    width: 100%;
    font-size: 1em;
    border: 1px solid #9a9a9a;
    padding: 0.25em;
    box-sizing: border-box;
}

button.review {
    width: 100%;
}

.question-typein button {
    width: 50%;
}
