img {
  max-width: 100%;
    max-height: 100%;
}

#Stretcher {
  position: absolute;
  height: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
}

.App {
  /* width: 100%; */
  /*       padding-bottom: 50.00%; /\* 16:9 *\/ */
}

#root {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 90%;
}

html,body,#root {
  background-color: #BCBEC0;
}

#MenuButtonsPanel {
  width: 100%;
  height: 30%;
  text-align: center;
  vertical-align: text-top;
}

#MainPanel {
  height: 67%;
}

#Stats {
  height: 65%;
  width: 100%;
}

.Button {
  font-size: large;
}

#StreetsButton {
  width: 28%;
  margin-left: 4%;
}

#MapButton {
  width: 28%;
  margin-left: 4%;
  margin-right: 4%;
}

#CollectionsButton {
  width: 28%;
  margin-right: 4%;
}

#Wander {
  margin: 5%;
  width: 90%;
}

#Meditate {
  width: 90%;
  margin: 5%;
}

#VendingMachine {
  width: 90%;
  margin: 5%;
}

.PopupBox {
  text-align: center;
}

#StreetsLeft {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  width: 31%;
  background: lightgrey;
  height: 100%;
  border-radius: 5px;
  float: left;
}
#StreetsRight {
  float: right;
  width: 65%;
  height: 100%;
  text-align: center;
}
#StreetsRightLeft {
  background: lightgrey;
  height: 100%;
  margin-right: 3%;
  border-radius: 5px;
  width: 47%;
  float: left;
}
#StreetsRightRight {
  margin-right: 3%;
  height: 100%;
  background: lightgrey;
  border-radius: 5px;
  width: 47%;
  float: right;
}
