img {
  max-width: 100%;
    max-height: 100%;
}

.App {
}

.App > h1 {
    margin: 0;

    font-size: 1.5em;
    font-weight: 300;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

html,body,#root {
  background-color: #BCBEC0;
}

main {
    display: flex;
    position: relative; /* absolute-in-relative trick for EventOverlay */
    width: 90vw;
    min-width: 800px;
    max-width: 1200px;
    height: 550px;
    margin: 0 auto;

    background-color: white;
    border: medium solid #7A7A7A;
}

#LeftPanel {
    display: flex;
    flex-direction: column;
    flex: 0 0 380px;
}

#LeftPanel > *:first-child {
    flex: 1;
}

#LeftPanel > *:last-child {
    flex: 0;
}

#RightPanel {
    flex: 1;
}

#RightPanel > .nav-tab {
    height: 100%;
}
