@import url('https://fonts.googleapis.com/css?family=Material+Icons|Quicksand:300,400,500,700');

* {
    font-family: Quicksand, sans-serif;
}

img {
  max-width: 100%;
    max-height: 100%;
}

.App {
}

.App > h1 {
    margin: 0;

    font-size: 1.5em;
    font-weight: 400;

    color: var(--color-theme-1);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

html,body,#root {
  background-color: var(--color-theme-page-bg);
}

main {
    display: flex;
    position: relative; /* absolute-in-relative trick for EventOverlay */
    width: 90vw;
    min-width: 800px;
    max-width: 1200px;
    height: 550px;
    margin: 0 auto;

    background-color: white;
    border: medium solid var(--color-theme-border);
}

#LeftPanel {
    display: flex;
    flex-direction: column;
    flex: 0 0 380px;
}

#LeftPanel > *:first-child {
    flex: 1;
}

#LeftPanel > *:last-child {
    flex: 0;
}

#RightPanel {
    flex: 1;
}

#RightPanel > .nav-tab {
    height: 100%;
}

body {
    --color-theme-1: #646464;
    --color-theme-2: #9a9a9a;
    --color-theme-3: #cccccc;
    --color-theme-4: #e6e6e6;
    --color-theme-5: #ffffff;

    --color-theme-text: var(--color-theme-1);
    --color-theme-page-bg: var(--color-theme-4);
    --color-theme-border: var(--color-theme-1);
    --color-theme-alert: var(--color-theme-text);
}

body.theme-purple {
    --color-theme-1: #590a44;
    --color-theme-2: #991275;
    --color-theme-3: #cca3c1;
    --color-theme-4: #e5b7d9;

    --color-theme-text: #646464;
    --color-theme-alert: #db0d4b;
}

body.theme-blue {
    --color-theme-1: #091059;
    --color-theme-2: #121d99;
    --color-theme-3: #a3a6cc;
    --color-theme-4: #b7bbe5;

    --color-theme-text: #646464;
    --color-theme-alert: #db0d4b;
}
