.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Button {
  background-color: grey;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.Button:hover {
  background-color: lightgrey;
}

.Button.Review {
  font-size: small;
}

.ReviewContainer {
  margin-bottom: 20px;
  margin-top: 20px;
}

#Wander {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
