.ReviewContainer {
  list-style-type: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

.Button {
  background-color: grey;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgrey;
}

.Button.Review {
  font-size: small;
}
