/** Effects **/
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}

/** UI Components **/

button {
    padding: 0.5rem 1.5rem;

    border: 1px solid gray;
    background: #FFF;
    color: gray;
    cursor: pointer;

    font-size: 0.9rem;
    text-align: center;
}

button:hover {
    background: lightgray;
}

button:active {
    background: lightgray;
}

button.active {
    background: darkgray;
    color: white;
}

button.inactive {
}
