.ReviewContainer {
  list-style-type: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

.Button {
  background-color: grey;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgrey;
}

.Button.Review {
  font-size: small;
}

/** Game Components **/

main {
    display: flex;
    position: relative; /* absolute-in-relative trick for EventOverlay */
    width: 90vw;
    min-width: 981.3px;
    height: 620px;
    margin: 0 auto;

    background-color: white;
    border: medium solid #7A7A7A;
}

#LeftPanel {
    display: flex;
    flex-direction: column;
    flex: 0 0 450px;
}

#LeftPanel > *:first-child {
    flex: 1;
}

#LeftPanel > *:last-child {
    flex: 0;
}

#RightPanel {
    flex: 1 0 450px;
}

/** Effects **/
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}

/** UI Components **/

button {
    padding: 0.5rem 1.5rem;

    border: 1px solid gray;
    background: #FFF;
    color: gray;
    cursor: pointer;

    font-size: 0.9rem;
    text-align: center;
}

button.active {
    background: darkgray;
    color: white;
}

button.inactive {
}
