/** Effects **/
.fade-enter {
    opacity: 0.01 !important;
}

.fade-enter.fade-enter-active {
    opacity: 1 !important;
    transition: all 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}

/** UI Components **/

button {
    padding: 0.5rem 1.5rem;

    border: 1px solid #646464;
    background: #FFF;
    color: #646464;
    cursor: pointer;

    font-size: 0.9rem;
    text-align: center;

    transition: all 0.3s ease-in;
}

button:hover {
    background: lightgray;
}

button.active, button:active {
    background: #646464;
    color: white;
}

button[disabled] {
    background: #CCCCCC;
    cursor: not-allowed;
}
