.ReviewContainer {
  list-style-type: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

.Button {
  background-color: grey;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgrey;
}

.Button.Review {
  font-size: small;
}

/** Game Components **/

main {
    display: flex;

    background-color: white;
    border: medium solid #7A7A7A;

    min-width: 850px;
}

#LeftPanel {
    flex: 0 0 350px;
}

#RightPanel {
    flex: 1 0 500px;
}

#inventory {
    display: flex;
}

#inventory > * {
    flex: 1;
}

#money-meter {
    display: flex;
}

#money-meter div {
    flex: 1;
}

#money-meter div:last-child {
    flex: 0;
}

#actions {
    display: flex;
}

#actions > div {
    flex: 1;
    padding: 0.5rem;
}

#actions > div > button {
    margin: 0.5rem 0;
    width: 100%;
}

/** Effects **/
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 400ms ease-in;
}

/** UI Components **/

button {
    padding: 0.5rem 1.5rem;

    border: 1px solid gray;
    background: #FFF;
    color: gray;
    cursor: pointer;

    font-size: 0.9rem;
    text-align: center;
}

button.active {
    background: darkgray;
    color: white;
}

button.inactive {
}

.labeled-panel {
    border: 1px solid gray;

    margin: 0.5rem;
    padding: 0.5rem;
}

.labeled-panel header {
    position: absolute; /* Take this element out of the flex calculation */
    margin-top: -1rem;
}

.labeled-panel header h2 {
    display: block;
    margin: 0;

    background: #FFF;
    color: gray;

    font-size: 0.8rem;
    font-weight: normal;

    text-transform: uppercase;
}

.nav-tab {
}

.nav-tab > nav {
    display: flex;
}

.nav-tab > nav > button {
    flex: 1;

    margin: 0.5rem;
}
